# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.pytest_cache/
/.coverage

# Mutation testing (mutmut)
.mutmut-cache
mutants/
html/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/
.DS_Store

# Alembic
alembic.ini
# (Opcional) se quiser ignorar as pastas de banco local do docker
postgres_data/
