APP_NAME=ts1-back
APP_VERSION=0.1.0
DEBUG=true
HOST=0.0.0.0
PORT=8000

# PostgreSQL
POSTGRES_HOST=      # ex: db.xxxxxx.supabase.co ou localhost
POSTGRES_PORT=5432
POSTGRES_USER=      # ex: postgres ou admin
POSTGRES_PASSWORD=  # senha do banco
POSTGRES_DB=        # ex: postgres ou sprbbd-db
