APP_NAME=ts1-back
APP_VERSION=0.1.0
DEBUG=true
HOST=0.0.0.0
PORT=8000

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT
JWT_SECRET_KEY=        # string longa e aleatória (ex: openssl rand -hex 32)
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
